---
import LawLayout from '../../layouts/LawLayout.astro';
import ActionButtons from '../../components/ActionButtons.astro';

const title = "國立高雄師範大學附屬高級中學學生會學生議員選舉及罷免辦法";
const abbr = "[廢止]學生議員選舉及罷免辦法";
const url = "https://drive.google.com/drive/folders/10tD9PETPt0zB1_c8SA5VzL10SwhtAApK" ;
---

<LawLayout title={abbr} historyUrl={url}>
    <h2 class="page-title">
        <div class="badge badge-soft badge-primary">已廢止</div>
        國立高雄師範大學附屬高級中學學生會學生議員選舉及罷免辦法
    </h2>
    <section class="amendment-history bg-base-200 text-base-content">
        <h3>修法歷程</h3>
        <ul>
            <li>107.01.08 自治幹部會議制定</li>
            <li>109.06.15 學生議會廢止</li>
        </ul>
    </section>

    <ActionButtons url={url} />

    <article class="regulation-content">
        <h3>第一章 總則</h3>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本法依據「國立高雄師範大學附屬高級中學學生會組織章程」第十六條訂定之。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">國立高雄師範大學附屬高級中學學生會（以下簡稱本會）之學生議員選舉、罷免以普通、平等、直接及無記名投票原則行之。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本法所訂期間之計算均包含例假日。</div>
            </div>
        </div>

        <h3>第二章 選舉、罷免機構</h3>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">國立高雄師範大學附屬高級中學學生會（以下簡稱本會）學生議員之選舉及罷免，由國立高雄師範大學附屬高級中學學生會選舉委員會（以下簡稱選委會）辦理之。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選委會之組成、運作及相關限制，依據「國立高雄師範大學附屬高級中學學生會正副會長選舉及罷免辦法」第五條至第十條所載。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選委會得將本會議員選舉與本會正副會長選舉合併舉辦。</div>
            </div>
        </div>

        <h3>第三章 選舉公告及候選人登記</h3>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選委會應於下列時間內發出選舉公告</div>
                <div class="old-sub">應於投票日一個月前公告登記參選事宜。</div>
                <div class="old-sub">應於投票日十五日前公告投票地點、投票日期時間。</div>
                <div class="old-sub">應於投票日三日前公告候選人選舉公報。</div>
                <div class="old-sub">應於投票日後三日內公告選舉結果及得票數。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">參選人應繳交下列證明文件：</div>
                <div class="old-sub">學生議員候選人資料表（附件一）。</div>
                <div class="old-sub">競選團隊成員名冊。</div>
                <div class="par old-par">申請登記之文件不全者，不予受理。</div>
            </div>
        </div>

        <h3>第四章 選舉活動</h3>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">候選人選舉公報由選委會編印，於投票日三日前公告，選舉公報應刊載候選人姓名、班級、照片及政見。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">競選活動開始日由選委會另行公告。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">競選活動項目如下：</div>
                <div class="old-sub">發送文宣品及政見單，文宣內容以彰顯人格特質或論述政見為主，不得涉及人身攻擊或言語攻擊。</div>
                <div class="old-sub">於下課、午餐等課餘時間拜訪選舉人，惟不可佔用早自習及午休時間。</div>
                <div class="old-sub">其他經選委會許可競選活動。</div>
                <div class="par old-par">若候選人之競選活動非上列所述者，選委會可視情況予以口頭警告或勒令停止該活動。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選委會得協助各候選人，統一安排政見發表會。</div>
            </div>
        </div>

        <h3>第五章 投票及開票</h3>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選委會應設置投開票所，置主任管理員一名，負責投開票之各項事務，主任管理員由選委會委員任之。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選委會應於投票前進行清票、點票、封箱及驗票等相關事宜。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選舉人投票，應憑學生證領取選票。選舉人應於規定時間內到投票所投票，逾時不得進入投票所投票，但已於規定時間內到達投票所尚未投票者，仍可進行投票。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選舉投票過程中，由選舉人於投票圈選欄上以選委會所備之圈選工具圈選，選舉人應將選票投入指定票箱中。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">廢票若有爭議，認定由選委共同執行商決之。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">選票及剩餘選票，於投票結束後，即行當場封箱，並須保存一個月。</div>
            </div>
        </div>

        <h3>第六章 罷免</h3>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">學生議員罷免案之連署以該選舉區之選舉人為連署人，其人數應由選舉人總數十分之一以上（含）連署，選委會應在收到連署書且確認其效力後，於三十日內舉行罷免案之投票。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">罷免案之投票人數應超過選舉人總數五分之一以上（含）投票，同意票達二分之一（含）以上時，罷免案即為成立，選委會應公告並送學生議會備查。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">被罷免人應自罷免案成立公告之日起，解除職務。</div>
            </div>
        </div>

        <h3>第七章 附則</h3>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本辦法經學生議會通過後，陳學務處備查並經會長公布後實施，修正時亦同。</div>
            </div>
        </div>
    </article>
        <section class="attachments-list">
        <h3>本法附件</h3>
        <ul class="attachments">
            <li>
                <a href="https://drive.google.com/open?id=1_tsoQSOJJxR4u08rZrwHdMZ_p03CsXgF" target="_blank">
                    <span class="att-no">附件1</span>
                    <span class="att-title">學生議員候選人資料表</span>
                </a>
            </li>
        </ul>
    </section>

</LawLayout>