---
import LawLayout from '../../layouts/LawLayout.astro';
import ActionButtons from '../../components/ActionButtons.astro';

const title = "國立高雄師範大學附屬高級中學111學年度第二次校務會議學生代表產生及臨時遞補方式要點";
const abbr = "[廢止]111學年學生代表產生遞補臨時要點";
const url = "https://drive.google.com/file/d/1zME704dcnH8IbHOw3uu5tVsuPW6k8X_z/view" ;
---

<LawLayout title={abbr} historyUrl={url}>
    <h2 class="page-title">
        <div class="badge badge-soft badge-primary">已廢止</div>
        國立高雄師範大學附屬高級中學111學年度第二次校務會議學生代表產生及臨時遞補方式要點
    </h2>
    <section class="amendment-history bg-base-200 text-base-content">
        <h3>修法歷程</h3>
        <ul>
            <li>112.01.20. 學生議會制定</li>
            <li>112.01.20. 期限屆滿失效</li>
        </ul>
    </section>

    <ActionButtons url={url} />

    <article class="regulation-content">
        <h3>法規內容</h3>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">依據高級中等教育法第25條第2項暨高級中等學校校務會議組成及運作注意事項第4點規定辦理。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本校校務會議學生代表產生方式如次：</div>
                    <div class="old-sub">依本校校務會議組織及運作要點第3點第4款規定，學生代表13人，由經選舉產生之學生代表組成；學生代表人數不得少於成員總數百分之十。</div>
                    <div class="old-sub">透過本校學生會選舉及罷免辦法公開選舉當選之學生會正、副會長及票數較高之前11名高中部學生議員，為本校校務會議學生代表。</div>
                    <div class="old-sub">若前款票數較高之高中部學生議員當選人數未達11名時，學生會行政中心之所有幹部作臨時學生代表候選人，交由學生議員與行政中心幹部選舉出臨時學生代表，以補足缺額為限。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本校校務會議學生代表出缺遞補方式：</div>
                    <div class="old-sub">本校校務會議學生代表成員於任期內 ，因擔任成員之學生畢業、休學、轉學或其他事由而出缺時 ，所遺缺額 ，由非校務會議學生代表其餘學生議員依得票數較高之順序遞補之。</div>
                    <div class="old-sub">依前款方式遞補仍不足額時 ，學生會行政中心之所有幹部作臨時學生代表候選人 ，交由學生議員與行政中心幹部選舉出臨時學生代表 ，以補足缺額為限。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本校校務會議學生代表成員之產生方式 ，不得以學生之學業成績評量、德行評量結果或其他非正當合理之條件限制之。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">依教育部110年12月9日臺教授國部字第1100138963號函釋略以：</div>
                    <div class="old-sub">
                        依據高級中等教育法第 7 條規定，設有國民中學部或國民小學部之高級中等學校，其國民中學部或國民小學部應適用國民教育法之相關規定。
                        再查國民教育法第 10 條，校務會議之組成並無「學生代表」。爰高級中等教育法第25條所定「學生代表人數不得少於成員總數百分之八」，其學生代表設算基準及範圍，
                        應由高級中等教育階段學生代表組成及產生，並不包括「國民中學部或國民小學部之學生代表」在內。
                    </div>
                    <div class="old-sub">呈上，本校仍得依實際需求，邀請國民教育階段之學生「列席」校務會議。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本要點經學生議會制定通過，由會長公布，並交訓育組備查；修正時亦同。</div>
            </div>
        </div>
        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本要點自中華民國112年1月18日實施至中華民國112年1月20日止。</div>
            </div>
        </div>
    </article>
</LawLayout>