/* global.css：最主要的 CSS */

/* 00. import 字體 from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5,500;1,62.5,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5,700;1,62.5,700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,GRAD@8..144,0,150&display=swap');*/
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/* concentric版本限定字體 */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* 未來熒黑 */
@font-face {
    font-family: 'GlowSans';
    src:
        url('/fonts/GlowSansTCCompressed-Bold.woff2') format('woff2'),
        url('/fonts/GlowSansTCCompressed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* 01. 載入 tailwindcss */
@import "tailwindcss" ;

/* 02. 載入基本樣式 */
@import "./01-base/01-base.css";
@import "./01-base/02-fonts.css";

/* 03. 載入佈局樣式 */
@import "./02-layout/01-layout.css";
@import "./02-layout/02-home.css";

/* 04. 載入共用樣式 */
@import "./03-components/01-legal-content.css";
@import "./03-components/02-lists.css";
@import "./03-components/03-misc.css";
@import "./03-components/04-header.css";
@import "./03-components/05-search-btn.css";

/* 05. 載入工具類別（響應式設計） */
@import "./04-utilities/01-responsive.css";

/* 06. import Daisy UI */
/* @source "../*.{html,js}"; */
@plugin "daisyui" {
    themes: corporate --default, dracula --prefersdark, retro, cyberpunk, valentine, aqua, lemonade, abyss;
}
@custom-variant dark (&:where([data-theme=dracula], [data-theme=dracula] *, [data-theme=aqua], [data-theme=aqua] *, [data-theme=abyss], [data-theme=abyss] *));

/* concentric版本限定橫幅 */
@keyframes color-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }}
.concentric-text-color {
    animation: color-change 4s infinite ease-in-out;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    @apply bg-gradient-to-r from-primary via-secondary to-accent bg-[length:200%_auto] bg-clip-text text-transparent text-2xl
}