---
import LawLayout from '../../layouts/LawLayout.astro';
import ActionButtons from '../../components/ActionButtons.astro';

const title = "教育部高級中等以下學校校園行動載具使用原則";
const abbr = "教育部高中以下校園行動載具使用原則";
const url = "https://join.gov.tw/policies/detail/bda31571-150e-4bbf-b59c-a60bd4da39dd" ;
---

<LawLayout title={abbr} historyUrl={url}>
    <!-- 新版注意事項 -->
    <div role="alert" class="alert alert-error alert-horizontal mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <div>
            <h3 class="font-bold">注意！</h3>
            <div class="text-xs">本原則屬於教育部主管規定，並擬於近日修正。非學生會自治法規。<a class= "link" href="https://join.gov.tw/policies/detail/bda31571-150e-4bbf-b59c-a60bd4da39dd">詳情</a></div>
        </div>
    </div>

    <h2 class="page-title">
        <div class="badge badge-soft badge-primary">民108</div>
        教育部高級中等以下學校校園行動載具使用原則</h2>
    </h2>
    <section class="amendment-history bg-base-200 text-base-content">
        <h3>修法歷程</h3>
        <ul>
            <li>中華民國108年6月17日教育部臺教資 (四) 字第1080060697號函</li>
        </ul>
    </section>

    <ActionButtons url={url} />

    <article class="regulation-content">
        <h3>法規內容</h3>

        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">為導引學生、教職員工及其他人（校外人士進入校園）等，於校園內適切使用行動載具，維持學校秩序及安全、教導行動載具使用禮儀，並促進學習成效，特訂定高級中等以下學校校園行動載具使用原則（以下簡稱本原則）。</div>
            </div>
        </div>

        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">本原則所稱行動載具，泛指手機、可攜式電腦、平板電腦、穿戴式裝置等具無線通訊功能之終端裝置。</div>
            </div>
        </div>

        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">高級中等以下學校應依據本原則，訂定校園行動載具使用管理規範。學校訂定校園行動載具使用管理規範，應邀集教師、家長、學生代表共同討論（包含申請程序、使用時間、管理方式等）管理機制，經校務會議通過後公告。</div>
            </div>
        </div>

        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">校園內使用行動載具應注意下列事項：</div>
                <div class="old-sub">除教師引導學習或緊急必要聯繫時使用外，其餘時間應以關機為原則。</div>
                <div class="old-sub">使用時應注意禮儀，切勿影響他人或騷擾他人隱私。</div>
                <div class="old-sub">對學生使用於與學習無關之活動，應予必要管理。</div>
                <div class="old-sub">使用時間應適宜，以符合視力保健原則，並尊重智慧財產權及遵守校園網路使用管理規範。</div>
                <div class="old-sub">學校教職員應尊重校園使用管理規定及注意使用安全，並考量使用場域、方法的合宜性。</div>
                <div class="old-sub">校外人士進入校園應在不影響學校上課及師生課程教學下使用。</div>
            </div>
        </div>

        <div class="row">
            <span class="old-art"></span>
            <div class="art-data">
                <div class="par old-par">學校應定期宣導有關資訊素養、網路禮儀、上網安全等議題，並給予師生行動載具使用之正確方式及人體保健（視力、聽力或電磁波應用等）相關資訊。</div>
            </div>
        </div>
    </article>

</LawLayout>