---
import LawLayout from '../../layouts/LawLayout.astro';
import ActionButtons from '../../components/ActionButtons.astro';

const title = "國立高雄師範大學附屬高級中學學生會組織辦法";
const abbr = "高師大附中會議旁聽要點";
const url = "https://drive.google.com/drive/folders/1lji91-HwLtoSnGU6FEibFqGJjXNaMkgy" ;
---

<LawLayout title={abbr} historyUrl={url}>
    <!-- 新版注意事項 -->
    <div role="alert" class="alert alert-error alert-horizontal mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <div>
            <h3 class="font-bold">注意！</h3>
            <div class="text-xs">本要點屬於本校（高師大附中）校務章則，非學生會自治法規。</div>
        </div>
    </div>

    <h2 class="page-title">國立高雄師範大學附屬高級中學會議旁聽要點</h2>
    <section class="amendment-history bg-base-200 text-base-content">
        <h3>修法歷程</h3>
        <ul>
            <li>109年4月10日 108學年度 第9次行政會議通過</li>
            <li>109年7月14日 108學年度 第4次校務會議通過</li> 
        </ul>
    </section>

    <ActionButtons url={url} />

    <article class="regulation-content">
        <h3>要點內容</h3>

        <div class="row">
            <span class="art">第1點</span>
            <div class="art-data">
                <p class="art-note">（宗旨）</p>
                <div class="par">為落實學生自治之精神，並使同學了解會議中與學生事務有關議案審查情形，故設立本要點。</div>
            </div>
        </div>

        <div class="row">
            <span class="art">第2點</span>
            <div class="art-data">
                <p class="art-note">（適用對象）</p>
                <div class="par">本要點適用對象為國立高雄師範大學附屬高級中學全體學生。</div>
            </div>
        </div>

        <div class="row">
            <span class="art">第3點</span>
            <div class="art-data">
                <p class="art-note">（得旁聽之會議）</p>
                <div class="par">得旁聽之會議：包含校務會議、學輔會議、學校課程發展委員會、建置學生學習歷程資料工作小組會議、學生社團審議小組會議、學生社團評鑑審查小組會議及工讀獎助金審查委員會。</div>
                <div class="par">前項會議若有特殊考量，可於發放會議通知時附註不開放旁聽及考量因素。</div>
                <div class="par">未明列於第一項之會議，若學生會與會議業管單位討論，經書面申請同意後，亦可開放旁聽。</div>
            </div>
        </div>

        <div class="row">
            <span class="art">第4點</span>
            <div class="art-data">
                <p class="art-note">（旁聽登記）</p>
                <div class="par">旁聽學生採事先登記制度，開放名額由學生會向會議業管單位詢問，以會議場地座位席餘額為原則。登記人數超過開放旁聽名額則以抽籤決定。</div>
            </div>
        </div>

        <div class="row">
            <span class="art">第5點</span>
            <div class="art-data">
                <p class="art-note">（登記方式及期限）</p>
                <div class="par">欲登記會議旁聽者，應於學生會公佈時間截止前至學生會官網之網路表單提出申請，並敘明申請人姓名與班級。逾時提出者，學生會得不受理。</div>
            </div>
        </div>

        <div class="row">
            <span class="art">第6點</span>
            <div class="art-data">
                <p class="art-note">（旁聽通知及公假）</p>
                <div class="par">學生會於會議前1至2天統整旁聽人數，並交由訓育組協助通知導師。與會時以會議旁聽簽到表簽到，並於會後統一由訓育組請公假。</div>
            </div>
        </div>

        <div class="row">
            <span class="art">第7點</span>
            <div class="art-data">
                <p class="art-note">（旁聽注意事項）</p>
                <div class="par">旁聽人員於會場旁聽時應遵守下列事項：</div>
                <div class="sub"><span class="num-marker">1</span>依會務人員引導簽名、入座。</div>
                <div class="sub"><span class="num-marker">2</span>不得參與表決、發言、提案。</div>
                <div class="sub"><span class="num-marker">3</span>不得有鼓譟、喧鬧、破壞公物、妨礙或干擾會議進行之行為。</div>
                <div class="sub"><span class="num-marker">4</span>禁止攜帶棍棒、擴音器或其他危險物品。</div>
                <div class="sub"><span class="num-marker">5</span>旁聽人未經主席同意不得擅自錄影錄音。</div>
                <div class="par">旁聽人員違反前項第二款至第五款規定，有妨礙會議秩序或有其他不當行為者，主席得終止其旁聽，強制離開會場。</div>
            </div>
        </div>

        <div class="row">
            <span class="art">第8點</span>
            <div class="art-data">
                <p class="art-note">（實施及修訂）</p>
                <div class="par">本要點經校務會議通過後實施，修定時亦同。</div>
            </div>
        </div>
    </article>

    <section class="attachments-list">
        <h3>本法附件</h3>
        <ul class="attachments">
            <li>
                <a href="../appendix/00 會議旁聽要點 附件1 會議旁聽申請書.pdf" target="_blank">
                    <span class="att-no">附件1</span>
                    <span class="att-title">會議旁聽申請書</span>
                </a>
            </li>
            <li>
                <a href="../appendix/00 會議旁聽要點 附件2 會議旁聽簽到表.pdf" target="_blank">
                    <span class="att-no">附件2</span>
                    <span class="att-title">會議旁聽簽到表</span>
                </a>
            </li>
        </ul>
    </section>

</LawLayout>