---
import MainLayout from '../layouts/MainLayout.astro';
import LawListSection from '../components/LawListSection.astro';
import { lawSections } from '../laws.js'; // 引入法規清單 JSON 資料
---

<MainLayout title="總覽">
    
    <h2 class="page-title">總覽</h2>

    <!-- 目次 -->
    {lawSections.map((section) => (
        <LawListSection 
            title={section.title} 
            items={section.items} 
        />
    ))}

    <div class="divider mt-12"></div>
    
    <h3 class="page-subtitle">聲明</h3>
    <div class="remarks-content">
        <ul class="remarks">
            <li>
                法規沿革，請至本會
                <a href="https://sites.google.com/a/stu.nknush.kh.edu.tw/ashs_sp/laws/修法歷程" target="_blank">學生議會「修法歷程」頁面</a>
                查詢。
            </li>
            <li>
                本網站節選部分本校校務章則，實際內容請依
                <a href="https://sites.google.com/tea.nknush.kh.edu.tw/fagui/" target="_blank">本校官網「校務章則」</a>
                或學生手冊查詢為準。
            </li>
            <li>本網站之內容不定期更新，最新公告施行法規，將於完成法規整編作業後更新上線。如需查詢最新法規，請至<a href="https://sites.google.com/a/stu.nknush.kh.edu.tw/ashs_sp/laws/法規彙編" target="_blank">本會學生議會網站</a>查詢。</li>
            <li>本網站自治法規資料，係由本會學生議會提供之電子檔或書面文字登打製作。若與會長令或學生議會之公布文字有所不同，仍以該法規之會長令或學生議會之公布資料為準。</li>
        </ul>
    </div>

</MainLayout>